@{
    ViewBag.Title = "Home Page";
}
<head>
    <!-- Cookie #1 -->
    <meta http-equiv="set-cookie" content="Value=_ga, Site=.grafana.net/; SameSite=None; Secure;" />
    <!-- Cookie #2 -->
    <meta http-equiv="set-cookie" content="Value=_gid, Site=.grafana.net/; SameSite=None; Secure;" />
    <!-- Other things like title etc -->
</head>
@*@Html.ActionLink("Influx Start", "", "Influx")*@
<div class="jumbotron">
    <h1>InfluxDB test write data</h1>
    <p class="lead">Começas teste InfluxDB</p>
    <p>@Html.ActionLink("Influx Start", "", "Influx")</p>
    <p></p>
    <p>@Html.ActionLink("YardMaterialIndex", "", "YardMachineMaterials")</p>
    <p>QuestDB Controller</p>
    <p>@Html.ActionLink("Index", "", "QuestDb")</p>
    <p>Links QuestDB via SQL</p>
    <p>@Html.ActionLink("Index", "", "QuestDBSQL")</p>
    <p><a class="btn btn-default" href="https://localhost:44399/QuestDBSQL.aspx">WebFormQuestDB &raquo;</a></p>
</div>

@*<div class="row">
    <img src="http://localhost:3000/dashboard/snapshot/LbphkbbSVNBzrtlllnvbuyWV1szNR94F" />
    <div><img src="http://localhost:3000/dashboard/new?orgId=1&from=1673678365772&to=1673699965772&viewPanel=2" /></div>
    <ul>
        <p><a class="btn btn-default" href="https://localhost:44399/WebForm2.aspx">web &raquo;</a></p>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</div>*@