@model WebApplication2.YardMachineMaterial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>YardMachineMaterial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlowSetpoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowSetpoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PressureSetpoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PressureSetpoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverloadValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverloadValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationMode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
