@model IEnumerable<WebApplication2.Models.QuestDB_MachineModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlowSetpoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PressureSetPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverloadValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationMode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlowSetpoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PressureSetPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverloadValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationMode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
